{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
  <div class="container-fluid">
  <div class="pull-right">
         <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
 
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
  </ul>
  </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
  </div>
  <form action="{{ action }}" method="post" enctype="multipart/form-data" name="form-layerpayment" id="form-layerpayment" class="form-horizontal">
 <div class="box">
  <!--// Layer //-->
  <div class="heading">
       <h1><img src="view/image/payment/layerlogo.png" alt="Open" height="40" /></h1>
   </div>
 <div class="content">
  <div class="panel-body">
        <div class="col-sm-10"> 
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="payment_layerpayment_mode">{{ entry_mode }}</label>
				<div class="col-sm-10">
					<select name="payment_layerpayment_mode" id="payment_layerpayment_mode" class="form-control">
						{% if payment_layerpayment_mode == 'live' %}
						<option value="live" selected="selected">{{ text_live }}</option>
						{% else %}
						<option value="live">{{ text_live }}</option>
						{% endif %}
						{% if payment_layerpayment_mode == 'test' %}
						<option value="test" selected="selected">{{ text_test }}</option>
						{% else %}
						<option value="test">{{ text_test }}</option>
						{% endif %}                
					</select>
				</div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="payment_layerpayment_apikey"><span data-toggle="tooltip" title="{{ help_apikey }}">{{ entry_apikey }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_layerpayment_apikey" value="{{ payment_layerpayment_apikey }}" placeholder="{{ entry_apikey }}" id="payment_layerpayment_apikey" class="form-control" />
              {% if error_apikey %} 
              <div class="text-danger">{{ error_apikey }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="payment_layerpayment_secretkey"><span data-toggle="tooltip" title="{{ help_secretkey }}">{{ entry_secretkey }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_layerpayment_secretkey" value="{{ payment_layerpayment_secretkey }}" placeholder="{{ entry_secretkey }}" id="payment_layerpayment_secretkey" class="form-control" />
              {% if error_secretkey is not empty %}
              <div class="text-danger">{{ error_secretkey }}</div>
              {% endif %}
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="payment_layerpayment_geo_zone_id">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_layerpayment_geo_zone_id" id="payment_layerpayment_geo_zone_id" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                {% if geo_zone.geo_zone_id == payment_layerpayment_geo_zone_id %}
                <option value="{{ geo_zone['geo_zone_id'] }}" selected="selected">{{ geo_zone['name'] }}</option>
                {% else %}
                <option value="{{ geo_zone['geo_zone_id'] }}">{{ geo_zone['name'] }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="payment_layerpayment_total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_layerpayment_total" value="{{ payment_layerpayment_total }}" placeholder="{{ entry_total }}" id="payment_layerpayment_total" class="form-control" />
            </div>
          </div>
          
          <!--order_status-->
          
          <div class="form-group">
             <label class="col-sm-2 control-label" for="payment_layerpayment_order_status_id">{{ entry_order_status }}</label>
               <div class="col-sm-10">
                 <select name="payment_layerpayment_order_status_id" id="payment_layerpayment_order_status_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_layerpayment_order_status_id %}
                      <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
					{% else %}
                      <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                 </select>
               </div> 
          </div>
          
          <!--order_status-->          
          
          <!--order_fail_status-->
          
          <div class="form-group">
             <label class="col-sm-2 control-label" for="payment_layerpayment_order_fail_status_id">{{ entry_order_fail_status }}</label>
               <div class="col-sm-10">
                 <select name="payment_layerpayment_order_fail_status_id" id="payment_layerpayment_order_fail_status_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_layerpayment_order_fail_status_id %}
                      <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %}
                      <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                 </select>
               </div> 
          </div>
          
          <!--order_fail_status-->    
          
          <div class="form-group">
              <label class="col-sm-2 control-label" for="payment_layerpayment_status">{{ entry_status }}</label>
                 <div class="col-sm-10">
                   <select name="payment_layerpayment_status" id="payment_layerpayment_status" class="form-control">
                      {% if payment_layerpayment_status == true %}
                         <option value="1" selected="selected">{{ text_enabled }}</option>
                         <option value="0">{{ text_disabled }}</option>
                      {% else %}
                         <option value="1">{{ text_enabled }}</option>
                         <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                   </select>
                   {% if error_status %}
                	<div class="text-danger">{{ error_status }}</div>
            	 	{% endif %}
                 </div>                  
          </div>
          
          <div class="form-group">
               <label class="col-sm-2 control-label" for="payment_layerpayment_sort_order">{{ entry_sort_order }}</label>
               	 <div class="col-sm-10">
                      <input type="text" name="payment_layerpayment_sort_order" value="{{ payment_layerpayment_sort_order }}"  id="payment_layerpayment_sort_order" class="form-control"size="1" />
                 </div>
          </div> 

      </div>
     </div>
     </div>
    <!--// Layer End //-->
<hr />
</form>
{{ footer }}